<div class="p-t-10 container-fluid">

    <!-- Summary cards at top-->
    <div class="row">
        <div class="col-md-12">
            <exec-summary></exec-summary>
        </div>
    </div>

    <!-- Biz trends and facility rankings-->

    <div class="row">

        <div class="col-md-8">
                    <exec-biz-trends></exec-biz-trends>
        </div>

        <div class="col-md-4">
            <exec-top-facilities></exec-top-facilities>
        </div>
    </div>

    <!-- Biz Stats-->

    <div class="row">

        <div class="col-md-3">

            <exec-facility-utilization></exec-facility-utilization>
        </div>

        <div class="col-md-5">
            <exec-maintain-events></exec-maintain-events>
        </div>

        <div class="col-md-4">
            <exec-biz-state></exec-biz-state>
        </div>


    </div>


</div>



