<div class="p-t-10 container-fluid">

    <!-- Summary cards at top-->
    <div class="row">
        <div class="col-md-12">
            <exec-summary></exec-summary>
        </div>
    </div>

    <!-- Biz trends and facility rankings-->

    <div class="row">

        <div class="col-md-8">

            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Business Trends</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <exec-biz-trends></exec-biz-trends>
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="col-md-4">

            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Top Facilities</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
            <exec-top-facilities></exec-top-facilities>
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>

    <!-- Biz Stats-->

    <div class="row">

        <div class="col-md-3">

            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Facility Utilization</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
            <h2>Facility Utilization</h2>
            <exec-facility-utilization></exec-facility-utilization>
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="col-md-5">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fleet Maintenance Events</h3>
                </div>
                <div class="panel-body">
                    <b>TODO: Fleet Maintenance Events</b>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Business Stats</h3>
                </div>
                <div class="panel-body">
                    <b>TODO: Business Stats</b>
                </div>
            </div>
        </div>


    </div>


</div>



