<div id="alerts">

    <div ng-repeat="alert in alerts | reverse | limitTo : 3 track by $index">
        <div class="alert alert-{{alert.type}}">
            <span class="pficon {{alert.icon}}"></span>
            <strong>{{alert.timestamp | amTimeAgo | capitalize}}: {{alert.header}}</strong> {{alert.message}}</a>.
            <span ng-repeat="link in alert.links track by $index">
                <a href="{{link.url}}">[{{link.text}}]</a>&nbsp;
            </span>
        </div>
    </div>
    <button ng-disabled="alerts.length <= 0"
            class="btn btn-primary btn-lg" data-toggle="modal"
            data-target="#alertsModal" type="button">View All Alerts ({{alerts.length}})
    </button>

    <div class="modal fade" id="alertsModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        <span class="pficon pficon-close"></span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">All Alerts</h4>
                </div>
                <div class="modal-body">


                    <div ng-repeat="alert in alerts | reverse track by $index">
                        <div class="alert alert-{{alert.type}}">
                            <span class="pficon {{alert.icon}}"></span>
                            <strong>{{alert.timestamp | amTimeAgo | capitalize}}: {{alert.header}}</strong>
                            {{alert.message}}</a>.
                            <span ng-repeat="link in alert.links track by $index">
                                <a href="{{link.url}}">[{{link.text}}]</a>&nbsp;
                            </span>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <a ng-click="clearAlerts()" data-dismiss="modal"
                       class="btn btn-primary btn-lg">Clear All Alerts</a>
                    <a data-dismiss="modal"
                       class="btn btn-default btn-lg">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>

