<div class="p-t-10 container-fluid">

    <div class="row row-eq-height">
        <div class="col-md-6" >

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vehicles</h3>
                </div>
                <div class="panel-body">
                    <vehicles-list></vehicles-list>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Map</h3>
                </div>
                <div class="panel-body">
                    <map-chart></map-chart>
                </div>
            </div>

        </div>

        <div class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Package Telemetry</h3>
                </div>
                <div class="panel-body">
                    <pkg-telemetry></pkg-telemetry>
                </div>
            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Shipments</h3>
                </div>
                <div class="panel-body">
                    <ship-list></ship-list>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vehicle Status</h3>
                </div>
                <div class="panel-body">
                    <vehicle-panel></vehicle-panel>
                </div>
            </div>
        </div>
    </div>

</div>



