<div class="p-t-10 container-fluid">

    <div class="row">
        <div class="col-md-6">
            <vehicles-list></vehicles-list>
        </div>

        <div class="col-md-3">
            <map-chart></map-chart>
        </div>

        <div class="col-md-3">
            <pkg-telemetry></pkg-telemetry>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <ship-list></ship-list>
        </div>

        <div class="col-md-6">
            <vehicle-panel></vehicle-panel>
        </div>
    </div>

</div>



