<div class="shiplist">

    <h2>Client Shipments</h2>
    <hr>

    <div ng-if="!shipments">
        <icon class="fa fa-info-circle"></icon>
        &nbsp;Choose a vehicle to view its packages
    </div>

    <div ng-if="shipments.length <= 0">
        No Shipments found for vehicle <em>{{selectedVehicle.desc}}</em>. Try picking a different Vehicle.
    </div>

    <div ng-if="shipments.length > 0">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i>
                    </div>
                    <input ng-model="shipQuery" type="text" placeholder="Find..." autofocus>
                </div>
            </div>
        </form>
    </div>

    <table ng-if="shipments.length > 0" class="table table-striped table-bordered table-hover" id="myTable">
        <thead>
        <tr>
            <th>Client</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>ETA</th>
            <th>Alerts</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-class="{ active: isSelected(shipment)}" ng-click="selectShipment(shipment);"
            ng-repeat="shipment in shipments | filter:shipQuery | limitTo:10 track by shipment.sensor_id">
            <td data-toggle="tooltip" data-placement="right" title="{{shipment.customer.name}}">
                {{shipment.customer.name}}({{shipment.desc}})
            </td>
            <td><a target="_blank" href="http://maps.google.com/?q={{shipment.route[0].address}}">{{shipment.route[0].address}}</a>
            </td>
            <td><a target="_blank"
                   href="http://maps.google.com/?q={{shipment.route[shipment.route.length-1].address}}">{{shipment.route[shipment.route.length-1].address}}</a>
            </td>
            <td>{{shipment.eta | amCalendar:referenceTime:formats}}</td>
            <td data-toggle="modal"
                data-target="#alertsModal">
                <div style="margin: 5px;text-align: center">
                        <span ng-repeat="type in ['danger', 'warning', 'success', 'info'] track by $index"
                              class="label label-pill label-{{getAlertCount(shipment.pkgId, type) > 0 ? type : 'default'}}">&nbsp;{{getAlertCount(shipment.pkgId, type) > 0 ? getAlertCount(shipment.pkgId, type) : '•' }}&nbsp;</span>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


