<div id="vehicles">

    <h2>Vehicles</h2>
    <hr>
    <div ng-if="vehicles.length <= 0">
        No vehicles found. Perhaps you need to <a href="#" ng-click="resetAll()">initialize the system</a>?
    </div>

    <div ng-if="vehicles.length > 0">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i>
                    </div>
                    <input ng-model="aquery" type="text" placeholder="Find..." autofocus>
                </div>
            </div>
        </form>
    </div>

            <scrollable-table ng-if="vehicles.length > 0" watch="vehicles">

                <table class="table table-striped table-bordered table-hover" id="myVehiclesTable">
                    <thead>
                    <tr>
                        <th sortable-header col="desc">Vehicle ID</th>
                        <th>Route</th>
                        <th>ETA</th>
                        <th>Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-class="{ active: isVehicleSelected(vehicle)}" ng-click="selectVehicle(vehicle);"
                        ng-repeat="vehicle in vehicles | filter:aquery " row-id="{{vehicle.desc}}">
                        <td data-toggle="tooltip" data-placement="right" title="{{vehicle.desc}}">{{vehicle.vin}}</td>
                        <td><icon class="fa fa-arrow-circle-right"></icon>&nbsp;<a target="_blank"
                                   href="http://maps.google.com/?q={{vehicle.origin.address}}">{{vehicle.origin.address}}</a><br>
                            <icon class="fa fa-flag-checkered"></icon>&nbsp;<a target="_blank"
                                   href="http://maps.google.com/?q={{vehicle.destination.address}}">{{vehicle.destination.address}}</a>
                        </td>
                        <td>{{vehicle.eta | date:'medium'}}</td>
                        <td><center>
                            <icon ng-if="vehicle.status == 'ok'" class="pficon fa-2x pficon-ok"></icon>
                            <icon ng-if="vehicle.status != 'ok'" title="Vehicle sensor {{vehicle.status}} detected; vehicle operator notified: {{vehicle.statusMsg}}" class="pficon fa-2x pficon-warning-triangle-o"></icon>
                        </center></td>
                    </tr>
                    </tbody>

                </table>
            </scrollable-table>


</div>

