<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Red Hat IoT Dashboard Demo</title>
	<script src="/bower_components/async/dist/async.min.js"></script>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>

	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/angular-websocket/dist/angular-websocket.min.js"></script>
	<script src="/bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js"></script>

    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

	<!-- PatternFly Custom Components -  Sidebar, Popovers and Datatables Customizations -->
	<!-- Note: jquery.dataTables.js must occur in the html source before patternfly*.js.-->

  <script src="/bower_components/patternfly/dist/js/patternfly.min.js"></script>

  <link rel="stylesheet" href="/bower_components/patternfly/dist/css/patternfly.min.css" />
  <link rel="stylesheet" href="/bower_components/patternfly/dist/css/patternfly-additions.min.css" />
	<link rel="stylesheet" href="/bower_components/angular-patternfly/dist/styles/angular-patternfly.min.css" />

	<script src="/bower_components/angular-patternfly/dist/angular-patternfly.min.js"></script>
	<script src="/bower_components/moment/moment.js"></script>
	<script src="/bower_components/angular-moment/angular-moment.min.js"></script>
	<script src="/bower_components/lodash/lodash.min.js"></script>

	<!-- MatchHeight - Used to make sure dashboard cards are the same height -->
	<script src="/bower_components/matchHeight/dist/jquery.matchHeight-min.js"></script>

	<!-- Maps -->
	<script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>

	<!-- C3, D3 - Charting Libraries -->
	<script src="/bower_components/c3/c3.min.js"></script>
	<script src="/bower_components/d3/d3.min.js"></script>

	<!-- n3 line charts -->
	<link rel="stylesheet" type="text/css" media="screen" href="/node_modules/n3-charts/build/LineChart.css">
	<script src="/node_modules/n3-charts/build/LineChart.js"></script>

	<link rel="stylesheet" href="/app/css/iotdemo.css" />
	<script src="/app/app.js"></script>
	<script src="/app/routes.js"></script>
	<script src="/app/controllers.js"></script>
	<script src="/app/services/sensor.js"></script>
	<script src="/app/services/reports.js"></script>
	<script src="/app/services/vehicles.js"></script>
	<script src="/app/services/shipments.js"></script>

	<script src="/app/directives/header.js"></script>
	<script src="/app/directives/shiplist.js"></script>
	<script src="/app/directives/mapchart.js"></script>
	<script src="/app/directives/vehicleslist.js"></script>
	<script src="/app/directives/pkgtelemetry.js"></script>
	<script src="/app/directives/vehiclepanel.js"></script>

	<script src="/app/directives/exec/summary.js"></script>
	<script src="/app/directives/exec/biz-trends.js"></script>
	<script src="/app/directives/exec/top-facilities.js"></script>
	<script src="/app/directives/exec/facility-utilization.js"></script>
	<script src="/app/directives/exec/maintain-events.js"></script>
	<script src="/app/directives/exec/biz-state.js"></script>

	<!-- MQTT and websockets -->
	<script src="/bower_components/paho-mqtt-js/mqttws31.js" type="text/javascript"></script>
	<script src="/bower_components/protobuf/dist/protobuf.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">

 </head>
<body>

<div header></div>
<pf-notification-list></pf-notification-list>
<div ng-view></div>

</body>
</html>
